# Ignorer les fichiers et répertoires générés par PhpStorm
.idea/

# Ignorer les fichiers de cache de Composer
vendor/
composer.lock

# Ignorer les répertoires suivants


# Ignorer les fichiers suivants


